# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
**/__pycache__
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
.mypy_cache/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags
profile_default/
ipython_config.py

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
environment.lock.yml

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox/*
.nox/*
junit*.xml
coverage.xml
.pytest_cache/*

# Build and docs folder/files
build/*
site/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/

# Configuration files
*.env

# DataJoint files
dj_local_c*.json
dj_remote_c*.json
.datajoint_config.json

# Misc files/folders
pyproject.code-workspace
scratch/*
src/deangelis_lab/experimental/*
.junk/*

# Secret keys
*.ssh
*.pem
